@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.chosen-value,
.value-list {

  width: 80%;
}

.chosen-value {

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  height: 3rem;
  color: #666;
  font-size: 1.1rem;
  background-color: #FAFCFD;
  border: 3px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
  color: #666;
}
.chosen-value:hover {
  background-color: #FF908B;
  cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
  color: #666;
}
.chosen-value:focus, .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #FF908B;
  color: #666;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
  color: #666;
}

.value-list {
  list-style: none;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Montserrat";
  max-height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.value-list.open {
  max-height: 320px;
  overflow: auto;
}
.value-list li {
  position: relative;
  height: 15px; 
  color: #666;
  background-color: #FAFCFD;
  padding: 15px;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  opacity: 1;
}
.value-list li:hover {
  background-color: #FF908B;
}
.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}
