<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>Tours And Travels</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
     
   
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
   </head>
   <body>
   	<nav class="navbar navbar-fixed-top">
  <div class="container-fluid nav-div">
    <div class="navbar-header">
   <a class="navbar-brand " id="nav-hd" href="#">TripSched</a>
    </div> 
    <ul class="nav navbar-nav navbar-right nav-ul" style="margin-left:-50px; ">
       <form class="form-inline login-form" method="post">
        {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="text" name="username" autofocus maxlength="254" required id="id_username" class=" login-text transp" placeholder="Username">

    <input type="password" name="password" required id="id_password" class=" login-text transp" placeholder="Password">
    <button  type="submit" class="submit-button transp">Login</button>
    	<br><div class="forgot">Forgot Password?</div>
    
  
</form> 
    </ul>
  </div>
</nav>
<div class="container caro-body">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">

      <div class="item active">
        <img src="static/photos/citypalace.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
        	<div class="img-hd">THE STUNNING PALACE-MUSEUM</div>
        	<div class="img-cont">The City Palace towers over Lake Pichola. The balconies, cupolas, and towers of the palace give a wonderful view of the lake and the surrounding city. This complex actually consists of four major and several minor palaces that collectively form the magnificent City Palace. The main part of the palace is now preserved as a museum displaying artifacts.</div>
        <div style="width: 400px;
margin: 0 auto;"><a href="signup" class="sign"><div>Create an account</div></a>
 </div>
          <h3>Udaipur City Palace</h3>
          <p>Highly visited, 4.6 stars!</p>

        </div>
      </div>

      <div class="item">
        <img src="static/photos/monsoonpalace.jpg" alt="Monsoon Lake" style="width:100%;">
        <div class="carousel-caption">
        	<div class="img-hd">OFFERS SPECTACULAR PANORAMIC VIEWS</div>
        	<div class="img-cont">Situated just outside Udaipur, this 19th-century palace is built on top of Bansdara hills. Used as a monsoon palace and hunting lodge, its builder, Maharana Sajjan Singh, originally planned to make it an astronomical center. The plan was cancelled with Maharana Sajjan Singh's premature death. It is still an awe-inspiring sight on the Udaipur skyline and offers spectacular views of the city and the areas around.</div>
        <div style="width: 400px;
margin: 0 auto;"><a href="signup.html" class="sign"><div>Create an account</div></a>
 </div>
          <h3>Monsoon Palace</h3>
          <p>Highly visited, 4.4 stars!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="../static/photos/fatehsagar.jpg" alt="Fateh Sagar Lake" style="width:100%;">
        <div class="carousel-caption">
        	<div class="img-hd">HOME TO MUST-VISIT ISLANDS</div>
        	<div class="img-cont">Fateh Sagar Lake is a charming lake surrounded by hills and woods. This artificial lake was constructed by Maharana Jai Singh in 1678 AD and it lies north of Lake Pichola. It was later reconstructed during the reign of Maharana Fateh Singh (1884-1930 AD) after the earthen bund (dam) was washed away in floods. The Maharana built Connaught Dam to commemorate the visit of the Duke of Connaught and the lake was renamed Fateh Sagar Lake.</div>
        <div style="width: 400px;
margin: 0 auto;"><a href="signup" class="sign"><div>Create an account</div></a>
 </div>
          <h3>Fateh Sagar Lake</h3>
          <p>Highly visited, 4.4 stars!</p>
        </div>
      </div>

      <div class="item">
        <img src="../static/photos/picholi.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
        	<div class="img-hd">PICTURESQUE FRESHWATER LAKE OF UDAIPUR</div>
        	<div class="img-cont">Picholi was the name of a village that lent its name to the lake. The islands of Jagniwas and Jagmandir are housed in this lake. Along the eastern banks of the lake lies the City Palace. A boat ride in the lake around sunset offers a breathtaking view of the Lake and City Palace.</div>
        <div style="width: 400px;
margin: 0 auto;"><a href="signup.html" class="sign"><div>Create an account</div></a>
 </div>
          <h3>Lake Picholi</h3>
          <p>Highly visited, 4.4 stars!</p>
        </div>
      </div>

      <div class="item">
        <img src="../static/photos/haldigathi.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
        	<div class="img-hd">RENOWNED ARENA OF A FAMOUS BATTLE</div>
        	<div class="img-cont">Haldighati is a famed mountain pass in the hills of the Aravalli Range. The pass, about 40 kilometres from Udaipur, connects the districts of Rajsamand and Pali. The pass gets its name from the yellow-coloured soil of the region (turmeric is called haldi in Hindi). The mountain pass has gone down the annals of history as the site where the Battle of Haldighati was fought in 1576 between Rana Pratap Singh of Mewar and Raja Man Singh of Amber who was the general of the Mughal emperor Akbar.</div>
        <div style="width: 400px;
margin: 0 auto;"><a href="signup.html" class="sign"><div>Create an account</div></a>
 </div>
          <h3>Haldi Ghati</h3>
          <p>Highly visited, 4.3 stars!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span aria-hidden="true" class="icon-prev"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span aria-hidden="true" class="icon-next"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

   </body>
   </html>